<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <appSettings>
      <add key="StorageConnStr" value="DefaultEndpointsProtocol=https;AccountName=fedeolstorage;AccountKey=6eHLHgWuqWP81ilKDcVxNB5RigEZdNZ7YdtaioeeL++wx/ptMgLvIgIUYMdnvgztYh09bjC3v9rLu+byF03vxA=="/>
    </appSettings>
</configuration>